.App {
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .party-card {
    background-size: 115% !important;
  }

  #party-header {
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid green;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 10px;
  }

  h4 {
    margin-top: 20px !important;
  }
  #party-content {
    font-size: 0.9rem !important;
  }

  .dim-card {
    border-bottom: 1px solid green;
    padding: 0px !important;
    min-height: 0% !important;
  }

  .covid-card {
    background-color: #f5f3de !important;
  }
  #parking-card {
    background-color: #b9ccc1 !important;
    min-height: 350px !important;
  }
  .covid-text {
    color: black !important;
  }
  #sanitizer-card {
    padding: 5% !important;
  }
}

.party-card {
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 115% !important;
}

body::-webkit-scrollbar {
  display: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
